.app{
  padding: 0 25px;
  button{
    padding: 12px 45px;
    text-transform: uppercase;
    background-color: #e86621;
    color: #fff;
    border: 0;
    letter-spacing: 0.7px;
    margin-top: 30px;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
  }
}
